<head>
  <link rel="stylesheet" href="/static/shlumped.css">

  <script src="/static/shlumped.js"></script>
</head>

<h1 class="my-class" id="hello">
  Hello World!
  </h1>
  
  <p class="another-class" id="paragraph1">
    Welcome good sir. It is time to go to sleep now.
  </p>
  
  <p>
  Color: <input id="user-color"> <br> <br>
  
  <button onclick="changeColor()">
     Change Color
  </button>
  
  <button onclick = "goToSleep()">
      Go To Bed
  </button>
  </p>
  